body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/058/831/non_2x/a-simple-modern-abstract-design-a-beautiful-soft-off-white-element-twisting-and-flowing-on-a-beige-background-illustration-vector.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.checkboxStyle {
    width: 15px;
    height: 15px;
}

.checkboxStyle:hover {
    transform: scale(1.1);
}

.paraStyle {
    padding: 0 2%;
    font-size: larger;
}

.button {
    background-color: rgba(32, 178, 171, 0.716);
    border-radius: 6px;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.1);
}

.listOfItems {
    padding: 0 15%;
}

@media (min-width: 768px) {
    .listOfItems {
        padding: 0 30%;
    }
}

@media (min-width: 1024px) {
    .listOfItems {
        padding: 0 35%;
    }
}

@media (min-width: 1440px) {
    .listOfItems {
        padding: 0 39%;
    }
}